/*  */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

@import "tailwindcss";


* {
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
}


/*  */